extends ../layout.pug

block content
  br
  a.btn.btn-primary(href='/admin/create') Create New Product
  p
    .row
      .card-group
        each product in products
          .col-sm-3
            .card.mt-4(style='width: 18rem;')
              img.card-img-top(src=product.image alt=product.name)
              .card-body
                h5.card-title=product.name
                p.card-text=product.description
                p.card-text Price: $#{product.price}
                a.btn.btn-info(href='/admin/update/' + product.id) Update
                a.btn.btn-danger(href="/admin/delete/" + product.id) Delete